{% load static %}
{% static "plots" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Machine Learning</title>
        <style>
        	.top{
                background-color: black;
                text-align: center;
                text-justify: auto;
                font-size: xx-large;
                opacity:1;
            }

            a{
                color: #f0ffff;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
    	<div class='top'>
    		<a href='regressiontask'>Perform Regression</a>
    	</div>
    </body>
</html>

